.loadingImg {
	height: 80vh;
	width: 45vw;
}
.homePageInfo {
	margin-left: -5em;
	color: white;
	font-family: 'Raleway', sans-serif;
	margin-top: 5em;
}
.container {
	height: 100vh;
}
.background {
	background-color: #0A223E;
}

.loadingImg {
	width: 250%;
	height: 250%;
	margin-left: -15em;
}

.btn-large {
	background-color: #106190;
	color: white;
	margin-top: 7em;
	font-family: 'Raleway', sans-serif;
}